.files-uploader {
    font-family: Arial;
    font-size: 14px;

    &__file-field {
        display: none;
    }

    &__add-file-button {
      cursor: pointer;
      background-color: #337ab7;
      border-color: #2e6da4;
      border-radius: 4px;
      color: azure;
      display: inline-block;
      padding: 10px;
      margin-bottom: 15px;
    }

    &-files-list__item-name {
        margin-right: 10px;
    }
}
